*{margin: 0 auto;}

.container {
	background-color: #DFDFDF;
}

.coverphoto {
	background-image: url("background.png");
	background-repeat: no-repeat;
    height: 40%;
    width: 100%;
    background-position: 50% 0px;
}

.base-info {
    width: 75%;
    height: 200px;
    margin-top: -70px;
    opacity: 0.85;
    background-color: #FAF9F9;
}

#profile-picture {
	background-image: url("profile-picture.png");
	float: left;
	background-size: cover;
	height: 200px;
    width: 200px;
}

.full-name {
	font-size: 30px;
}

#info {
	margin-top: 20px;
	margin-left: 220px;
}

.profile-action {
	box-shadow: 0 1px 0 #fff inset;
    clear: both;
    border-top: 1px dashed #ccc;
    padding: 0 0 0 21px;
    background: #F6F6F6;
}

.background{
    margin-top:30px; 
    height: auto;
    width: 75%;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 20px; 
}

.background h2 {
	background-color: 333333;
	color: #FFFFFF;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	display: block;
	float: left;
}

.border{
    color: #E8E8E8;
    width: 98%;
    border: 1px;
    border-style: solid;
}

